apiVersion: v1
kind: Service
metadata:
  name: wallet-service
  namespace: default
spec:
  selector:
    app: wallet-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
